@model liveraryIdentity.Models.Resource

@{
    ViewData["Title"] = "Create";
}

@section styles {
    <link rel="stylesheet" href="~/css/training.css" />
}


    <h1>Create New Resource</h1>
    <div class="center-container">
        <div class="align-content-center">
            asdasdas
        </div>



    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
