@page
@model liveraryIdentity.Views.Trainings.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Training</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Training.ID" />
            <div class="form-group">
                <label asp-for="Training.CategoryID" class="control-label"></label>
                <select asp-for="Training.CategoryID" class="form-control" asp-items="ViewBag.CategoryID"></select>
                <span asp-validation-for="Training.CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Training.Title" class="control-label"></label>
                <input asp-for="Training.Title" class="form-control" />
                <span asp-validation-for="Training.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Training.Author" class="control-label"></label>
                <input asp-for="Training.Author" class="form-control" />
                <span asp-validation-for="Training.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Training.Description" class="control-label"></label>
                <input asp-for="Training.Description" class="form-control" />
                <span asp-validation-for="Training.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Training.DateCreated" class="control-label"></label>
                <input asp-for="Training.DateCreated" class="form-control" />
                <span asp-validation-for="Training.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Training.Thumbnail" class="control-label"></label>
                <input asp-for="Training.Thumbnail" class="form-control" />
                <span asp-validation-for="Training.Thumbnail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
