@{
    ViewData["Title"] = "Category Card";
}
@section styles {
    <link rel="stylesheet" href="~/css/training.css" />
}

<body>
    <header>
        <div class="header-content">
            <div class="logo">    
                <a asp-area="" asp-controller="AdminHome" asp-action="Index">
                    <img src="~/images/logo.png" alt="Logo" width="254" height="72" />
                </a>
            </div>
        </div>
    </header>
    <div class="main-container">
        <div class="left-side">
            <div>
                <h1 class="new-training">Create new Category</h1>
            </div>
            <br>
            <div class="padding-left">
                <div>
                    <label id="mylabel" >Category Title</label>
                    <input class="form-control-new">
                </div>
            <br>
                <div>
                    <label id="mylabel">Date Created</label>
                    <input class="form-control-new" type="date">
                </div>
            <div>
                <label for="coverImage" id="mylabel">Thumbnail</label>
                <label class="file-upload-btn">
                    <input type="file" id="coverImage" class="form-control-new" accept="image/*" onchange="displayFileName()">
                    <i class="fas fa-upload"></i> Upload photo
                </label>
                <p id="fileName"></p>
            </div>
            <br>
                <a asp-area="" asp-controller="Categories" asp-action="Create">
                    <button class="edit-button-header">
                        <img src="~/images/add.png" alt="Add Icon" /> Add Training
                    </button>
                </a>
            </div>
        </div>

        <!-- Right Side -->
        <div class="right-container">
            <div class="right-side">
                <div>
                    <label id="mylabel">Description</label>
                    <textarea id="description" class="form-control-new" rows="20"></textarea>
                </div>
                <br>
                @* <div class="topic-div">
                    <div class="left-section">
                        <div>
                            <label id="mylabel">Topic Title</label>
                            <input class="form-control-topic">
                        </div>
                        <div>
                            <label id="mylabel">Description</label>
                            <textarea id="description" class="form-control-topic" rows="4"></textarea>
                        </div>
                    </div>
                    <div class="right-section">
                        <div>
                            <label id="mylabel">Upload Resource Material</label>
                            <label class="file-upload-topic">
                                <input type="file" id="coverImage" class="form-control-topic" accept="image/*" onchange="displayFileName()">
                                <i class="fas fa-upload"></i> Upload file
                            </label>
                            <p id="fileName"></p>
                        </div>
                    </div>
                </div> *@
                <br>
                
            </div>
        </div>
        
    </div>
</body>