@section styles {
    <link rel="stylesheet" href="~/css/training.css" />
}

<script type="text/javascript">
    function CRateOut(rating){
        for(var i = 1; i <= rating; i++){
            $("#span" + i).attr('style', "background-image: url('/images/empty-star.png');")
        }
    }

    function CRateOver(rating){
        for(var i = 1; i <= rating; i++){
            $("#span" + i).attr('style', "background-image: url('/images/star.png');")
        }
    }

    function CRateClick(rating){
        $("#lbRating").val(rating)
        for(var i=1; i <=rating; i++){
            $("#span" + i).attr('style', "background-image: url('/images/star.png');")
        }

        for(var i=rating + 1; i <=5; i++){
            $("#span" + i).attr('style', "background-image: url('/images/empty-star.png');")
        }
    }

    function CRateSelected(rating){
        var rating = $("#lbRating").val();
        for(var i = 1; i <= rating; i++){
            $("#span" + i).attr('style', "background-image: url('/images/star.png');")
        }
    }

</script>

<div class="main-container">
    <form method="post" asp-action="Create" class="form-container">
        <div class="left-side">
            <div>
                <h1 class="new-training">Rate a training</h1>
            </div>
            <br>
            <div class="padding-left">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Name -->
                <div>
                    <label id="mylabel">Name</label>
                    <input class="form-control-new">
                    @* <span asp-validation-for="Title" class="text-danger"></span> *@
                </div>

                <!-- Email -->
                <br>
                <div>
                    <label id="mylabel">Email Address</label>
                    <input class="form-control-new">
                    <span class="text-danger"></span>
                </div>

                <!-- Stars -->
                <br>
                <div>
                    <label id="mylabel">Rate</label>
                    <div onmouseout="CRateSelected()">
                        <span id="span1" onmouseout="CRateOut(1)" onmouseover="CRateOver(1)" onclick="CRateClick(1)" class="star" style="background-image: url('/images/empty-star.png');"></span>
                        <span id="span2" onmouseout="CRateOut(2)" onmouseover="CRateOver(2)" onclick="CRateClick(2)" class="star" style="background-image: url('/images/empty-star.png');"></span>
                        <span id="span3" onmouseout="CRateOut(3)" onmouseover="CRateOver(3)" onclick="CRateClick(3)" class="star" style="background-image: url('/images/empty-star.png');"></span>
                        <span id="span4" onmouseout="CRateOut(4)" onmouseover="CRateOver(4)" onclick="CRateClick(4)" class="star" style="background-image: url('/images/empty-star.png');"></span>
                        <span id="span5" onmouseout="CRateOut(5)" onmouseover="CRateOver(5)" onclick="CRateClick(5)" class="star" style="background-image: url('/images/empty-star.png');"></span>
                    </div>
                    <div>
                        <input type="hidden" id="lbRating" />
                    </div>
                </div>

                <br>
                <div class="form-group">
                    <input type="submit" value="Submit Rating" class="btn btn-primary" style="width: 500px; background-color: #A175FA; text-align: center; border: none;" />
                </div>
            </div>
        </div>
        <div class="right-container">
            <!-- Comments -->
            <div>
                <label id="mylabel">Comments</label>
                <textarea id="description" class="form-control-new" rows="19" maxlength="1015"></textarea>
                <span class="text-danger"></span>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}