@model TrainingViewModel

@{
    ViewData["Title"] = "Training Card";
    Category selectedCategory = null;
    for (int i = 0; i < Model.Categories.Count(); i++)
    {
        selectedCategory = Model.Categories.FirstOrDefault(c => c.ID == Model.Training.CategoryID);
    }
}
<body>
    <div class="training-cover" style="background-image: url('/images/@Url.Content(Model.Training.Thumbnail)');">
        <div class="star-row">
            <div class="star" style="background-image: url('/images/star.png');"></div>
            <div class="star" style="background-image: url('/images/star.png');"></div>
            <div class="star" style="background-image: url('/images/star.png');"></div>
        </div>
        <div class="text-container">
            <h1>@Model.Training.Title</h1>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="category-details2">
            <h1>Category</h1>
            <div class="category-div2" style="background-image: url('/images/@Url.Content(@selectedCategory.Thumbnail)');">
                <div class="text">@selectedCategory.Title</div>
            </div>
            <div class="left-details">
                <p style="white-space: pre-wrap; text-align: justify;">
                    @Model.Training.Description
                </p>
            </div>
        </div>
        <div class="right-details-training">
            @if(User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
            {
                <div class="heading-container">
                    <a asp-area="" asp-controller="Topics" asp-action="Index">
                        <button class="edit-button-header">
                                <img src="~/images/edit.png" alt="Add Icon" /> Edit Topics
                        </button>
                    </a>
                </div>
            }
            <div class="topic-card">
                <h1>Topic 1</h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
                <div class="horizontal-scroll-container">
                    <div class="resource-button">
                        <h1>Resource Material 1</h1>
                        <img src="/images/view_icon.png" alt="view" class="button-image-view" />
                        <img src="/images/download_icon.png" alt="download" class="button-image-download" />
                    </div>
                    <div class="resource-button">
                        <h1>Resource Material 2</h1>
                        <img src="/images/view_icon.png" alt="view" class="button-image-view" />
                        <img src="/images/download_icon.png" alt="download" class="button-image-download" />
                    </div>
                    <div class="resource-button">
                        <h1>Resource Material 3</h1>
                        <img src="/images/view_icon.png" alt="view" class="button-image-view" />
                        <img src="/images/download_icon.png" alt="download" class="button-image-download" />
                    </div>
                </div>
            </div>
            <div class="topic-card">
                <h1>Topic 2</h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
                <div class="horizontal-scroll-container">
                    <div class="resource-button">
                        <h1>Resource Material 1</h1>
                        <img src="/images/view_icon.png" alt="view" class="button-image-view" />
                        <img src="/images/download_icon.png" alt="download" class="button-image-download" />
                    </div>
                    <div class="resource-button">
                        <h1>Resource Material 2</h1>
                        <img src="/images/view_icon.png" alt="view" class="button-image-view" />
                        <img src="/images/download_icon.png" alt="download" class="button-image-download" />
                    </div>
                    <div class="resource-button">
                        <h1>Resource Material 3</h1>
                        <img src="/images/view_icon.png" alt="view" class="button-image-view" />
                        <img src="/images/download_icon.png" alt="download" class="button-image-download" />
                    </div>
                </div>
            </div>
            <div class="topic-card">
                <h1>Topic 3</h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
                <div class="horizontal-scroll-container">
                    <div class="resource-button">
                        <h1>Resource Material 1</h1>
                        <img src="/images/view_icon.png" alt="view" class="button-image-view" />
                        <img src="/images/download_icon.png" alt="download" class="button-image-download" />
                    </div>
                    <div class="resource-button">
                        <h1>Resource Material 2</h1>
                        <img src="/images/view_icon.png" alt="view" class="button-image-view" />
                        <img src="/images/download_icon.png" alt="download" class="button-image-download" />
                    </div>
                    <div class="resource-button">
                        <h1>Resource Material 3</h1>
                        <img src="/images/view_icon.png" alt="view" class="button-image-view" />
                        <img src="/images/download_icon.png" alt="download" class="button-image-download" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>