* {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
}

.left-side {
    flex: 1;
    padding-left: 25px;
    padding-right: 225px;
    padding-bottom: 25px;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.form-control-new,
.form-control-new-image,
.custom-select,
.file-upload-btn {
    width: 100%; 
}

.right-container {
    flex: 1;
    padding: 25px;
    box-sizing: border-box;
}

.new-training {
    font-size: 31px;
    background-color: transparent;
}

.form-control-new {
    display: block;
    width: 500px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control-new-image {
    display: block;
    width: 500px;
    height: 100px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-select {
    position: relative;
    width: 500px;
}

.custom-select::after {
    content: '\25BC'; /* Unicode character for a down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

.file-upload-btn {
    cursor: pointer;
    padding: 10px 15px;

    display: block;
    width: 500px;
    height: 100px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 5;
    color: #5E17EB;
    background-color: rgba(194, 165, 251, 0.2);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
}

.file-upload-btn input {
    display: none;
}

.padding-left {
    padding-left: 30px;
}

.topic-div {
    display: flex;
    background-color: rgba(194, 165, 251, 0.2);
    padding: 12px;
    border-radius: 0.25rem;
    justify-content: space-between;
    width: 650px;
}

.left-section {
    flex: 1;
    margin-right: 0px;
}

.right-section {
    flex: 1;
    margin-left: 0px;
}

.form-control-topic {
    display: block;
    width: 300px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.file-upload-topic {
    cursor: pointer;

    display: block;
    width: 320px;
    height: 45px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    color: #5E17EB;
    background-color: rgba(194, 165, 251, 0.2);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
    margin-bottom: 8px;
}

.file-upload-topic input {
    display: none;
}